P{color:blue; font-size:18px; }
.listitem{color:red;  font-size:20px; } 
.paragraph{color:blue;  font-size:3.5em; }
#backgroun{background-color:red; } 
#button {width:300px; height:150px; color:white; background-color:black; border-radius:15px;  margin: 15px;  }
header {height:250px; width:99%; border:2px solid black; background-color:#3256ba; margin-bottom: 5em;    }
footer {height:250px; width:99%; border:2px solid black; background-color:#3256ba;    }
.wrap-trivia {height:auto; width:450px; border:5px double red; padding:5em; }
.wrap-list {height:200px; width:225px; border:5px dashed green;}
.wrap-text {color: #ff28e0; font-size: 1.1em; }


.navitem {
list-style-type: none;

display:inline;

padding-right:1.5em; }

#navmenu {
width:250px;
height:30px;
margin:auto;
color:red;
background:blue;
}
a:link{color:red;}
a:visited{color:purple;}
a:hover{color:black;}
a:active{color:blue;}
#rightside{float:right; width:35%;  }
#leftside{width:65%; }
.clearfloat{clear:right; }